@model Zowari.Models.ViewModels.LatestTopicsForumsViewModel

<div class="grid">
    @foreach (var topic in Model.TopicResponse.Data.ToList())
    {
        <div class="col-start-1 col-end-4 col-span-8">
            <div class="p-5 bg-white">
                <button class="mr-2 float-left max-w-xs rounded-full flex items-center text-sm focus:outline-none relative">
                    <img class="h-12 w-12 rounded-full border border-indigo-600" src="images/profile_images/rick_and_morty.jpg" alt="avatar"/>
                    <span class='absolute top-0 left-3 h-3 w-3 rounded-full bg-green-500 ring ring-white'></span>
                </button>
                <p class="text-black-600 ml-2">
                    <a asp-controller="Topic" asp-action="Index" asp-route-topicId="@topic.TopicId" asp-route-slug="@topic.Slug">
                        @topic.Body
                    </a>
                </p>
                <span class="text-sm">@topic.AuthorResponse.AuthorName</span><span class="ml-2 text-gray-600 text-sm">@topic.CreatedOn</span>
            </div>
        </div>
        <div class="p-5 col-start-4 col-end-5 col-span-2 text-center">
            <span class="text-black-600">58</span>
            <p class="text-gray-600 text-sm">Replies</p>
        </div>
        <div class="p-5 col-start-5 col-end-6 col-span-2 text-center">
            <span class="text-black-600">58</span>
            <p class="text-gray-600 text-sm">Views</p>
        </div>
        <div class="p-5 col-start-6 col-end-7 col-span-2 text-center">
            <div class="flex -space-x-4">
                <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" src="images/profile_images/anime-avatar-1.jpg" alt="">
                <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" src="images/profile_images/anime-avatar-2.jpg" alt="">
                <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" src="images/profile_images/anime-avatar-3.jpg" alt="">
                <a class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800" href="#">+99</a>
            </div>
        </div>

        <hr class="col-span-12">
    }
</div>

<div id="paginationDiv">
    @await Html.PartialAsync("_PagingPartial", Model.TopicResponse.PagingMetaData).ConfigureAwait(false)
</div>