@model Zowari.Models.ViewModels.CategoryTopicViewModel

@{
    ViewBag.Title = Model.CategoryResponse.Title;
    var category = Model.CategoryResponse;
}

<div class="p-5 bg-white m-2">
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1">
    <div class="rounded overflow-hidden">
      <div class="px-1 py-1">
        <div class="w-full grid grid-cols-2 mb-2 gap-2">
          <span class="col-start-1 col-end-4 justify-start items-start text-md font-medium text-gray-400">@category.Title</span>
          <span class="col-start-4 col-end-6 justify-end items-end text-sm font-small text-gray-400">Threads - @category.TopicCount</span>
        </div>
        <p class="text-gray-700 text-base text-sm font-small  w-full mt-2">
          @category.Description
        </p>
        <div class="mt-2">
          <span class="inline-block bg-gray-200 rounded px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
          <span class="inline-block bg-gray-200 rounded px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
          <span class="inline-block bg-gray-200 rounded px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
        </div>
        <hr class="w-full mt-2 mb-2"/>
      </div>
    </div>
  </div>
</div>

<div id="categoryTopicsDiv" class="mt-2">
    @await Html.PartialAsync("_CategoryTopicsPartial").ConfigureAwait(false)
</div>

@section Scripts {

  <script type="text/javascript">
    $(document).ready(function() {
      addPageClickListeners();
      addSearchClickListener();
      addsortTermPickerListener();
    });

    function addPageClickListeners() {
      const url = new URL(window.location);

      url.searchParams.set('pageSize', '10');
      url.searchParams.set('pageNumber', $('#CurrentPage').val());
      url.searchParams.set('SearchTerm', $('#searchTerm').val());
      url.searchParams.set('sortTerm', $('#sortTerm').val());
      window.history.pushState({}, '', url);
      $(".page-number > a").click(function() {
        let params = getQueryParams();
        params.currentPage = parseInt($(this).find("input:first").val());

        getView(params.currentPage, params.searchTerm, params.sortTerm);

      });
    }

    function addSearchClickListener() {
      $('#searchTerm').change(function() {
        let params = getQueryParams();
        params.currentPage = parseInt($(this).find("input:first").val());
      
        getView(params.currentPage, params.searchTerm, params.sortTerm);
      });
    }

    function addsortTermPickerListener() {
      $('#sortTerm') .change(function () {
        let params = getQueryParams();
        params.currentPage = parseInt($(this).find("input:first").val());

        getView(params.currentPage, params.searchTerm, params.sortTerm);
        document.getElementById("sortTerm");
      });
    }

    function getQueryParams() {
      return {
        currentPage: $('#CurrentPage').val(),
        searchTerm: $('#searchTerm').val(),
        sortTerm: $('#sortTerm').val()
      };
    }

    function getView(pageNumber, searchTerm, sortTerm) {
      if (isNaN(pageNumber) || pageNumber === "undefined") {
        pageNumber = 1;
      }
      $.ajax({
        url: '@Url.Action("CategoryTopicsPartial", "Categories")',
        type: 'GET',
        data: {
          "categoryId": "@category.Id",
          "pageNumber": pageNumber ?? 1,
          "pageSize": 10,
          "searchTerm": searchTerm,
          "sortTerm": sortTerm,
          "name": "",
          "description": ""
        },
        success: function(data) {
          $("#categoryTopicsDiv").html(data);
          addPageClickListeners();
        }
      });
    }

  </script>

}